/* shard style */
.background-color{
  background-image: url(../assets/bg.png);
}

.card-h1 {
  text-align: center;
  font-size: larger;
}

.card-section {
  display: flex;
}
.set-card {
  display: flex;
}
.our-h1 {
  text-align: center;
  font-size: larger;
}
.our-name {
  text-align: center;
  font-size: xx-large;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  /* Adjust logo size and keep it on the left */
  .navbar-start img {
    max-width: 100px;
  }

  /* Ensure dropdown is aligned to the right */
  .navbar-start .dropdown {
    margin-left: auto;
  }

  /* Hide the SCHOOL text  */
  .navbar-start a {
    display: none;
  }

  /* Make dropdown content hidden by default */
  .dropdown-content {
    display: none;
  }

  /* Show dropdown content on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .hero-content {
    flex-direction: column-reverse;
  }

  .hero img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }

  section.flex {
    flex-direction: column;
  }

  .card {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .nav-sect {
    border: 2px solid yellow;
  }
}
